fastapi
uvicorn[standard]
python-multipart
sqlalchemy
psycopg2-binary
asyncpg
qdrant-client
docling
openai
sentence-transformers
torch
PyJWT
passlib[bcrypt]
bcrypt==4.0.1
pydantic[email]
pydantic-settings
python-dotenv
chainlit
pytest
pytest-asyncio
httpx
alembic
aioboto3
fastembed
types-aiobotocore-s3
duckdb
tiktoken
python-jose[cryptography]
